# HW4 003 Data Transform EXPLORE-EXPLAIN

In [1]:
import pandas as pd

## EXPLORE

Execute the cells below, play with the output and `df` so that you can be prepared for the questions below.  

You should leave your playing in your submission, so I can see how you worked with the data to explore it.

In [2]:
df = pd.read_csv("data/mossville_pa_hmeans.csv").set_index("time_stamp")
df.head()

                           pm2.5_atm
time_stamp
2024-02-25 00:00:00+00:00   9.929602
2024-02-26 00:00:00+00:00  19.305769
2024-02-27 00:00:00+00:00  11.951813
2024-02-28 00:00:00+00:00  18.240583
2024-02-29 00:00:00+00:00   2.606073

## EXPLAIN

1. Please visit the forum post [here](https://community.purpleair.com/t/how-to-calculate-the-us-epa-pm2-5-aqi/877/10) and in your own words, explain what the conversation is about?  Make sure your explanation could be understood by an 8th grader who has a basic understanding of the web.
2. Explain what code in the cell below "Answer #2" does?
3. Look at the code in [`helpers/pm25helper.py`](./helpers/pm25helper.py).  Explain what the function `pm25_to_aqi` does.  Why is this function necessary?

## ANSWER #1

**Edit this markdown cell** and put your answer.

## ANSWER #2

**Edit this markdown cell** and put your answer.  You study the code in the next cell.

In [3]:
from helpers.pm25helper import pm25_to_aqi

df['pm2.5_aqi'] = df['pm2.5_atm'].apply(pm25_to_aqi)
df.to_csv("data/mossville_pa_hmeans_aqi.csv")
df.head()

                           pm2.5_atm  pm2.5_aqi
time_stamp
2024-02-25 00:00:00+00:00   9.929602  41.373342
2024-02-26 00:00:00+00:00  19.305769  65.364394
2024-02-27 00:00:00+00:00  11.951813  49.799219
2024-02-28 00:00:00+00:00  18.240583  63.124255
2024-02-29 00:00:00+00:00   2.606073  10.858637

## ANSWER #3

**Edit this markdown cell** and put your answer.